
<h1 ng-if="searchObject.searchString">Результат поиска по запросу: "{{searchObject.searchString}}"</h1>

<ul
        class="phones"
        phones-list-directive
        data-phones-list-array="phones"
        data-search-object="searchObject"
>

</ul>

<!--<hr>-->
<!--<ul class="phones">-->

    <!--<phones-list-directive-->
            <!---->
            <!--data-phones-list-array="phones"-->
            <!--data-search-object="searchObject"-->
    <!--&gt;-->

    <!--</phones-list-directive>-->

<!--</ul>-->