<phone  />

<div>
    <div>

        <img class="phone" ng-src="{{thumbnail}}">

        <a ng-href="/angular-phones-application-PSU-1-31/public/">Home</a>
        <button ng-click="addPhoneToCart(phone)" >Add to basket</button>

        <h1 ng-bind="phone.name"></h1>

        <p ng-bind="phone.description"></p>

        <images list="phone.images" ></images>

        <ul id="PhonesOwlCarousel" style="list-style-type: none" class="owl-theme owl-carousel">
            <li ng-repeat="photo in phone.images">

                <img ng-src="{{photo}}">
                <div ng-include="includeTemplate()"></div>

            </li>
        </ul>



    </div>
</div>